/* UC 1 */
* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    min-height: 100%;
    font-family: "Roboto", sans-serif;
    background-color: #f7f7f7;
}

.header {
    padding: 15px 0;
    background-color: #ffffff;
}

.logo-content {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.logo-symbol {
    width: 45px;
    height: 45px;
    border: 2px solid #82a70c;
    color: #42515f;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    font-size: 22px;
}

.emp-text {
    font: normal normal bold 20px/25px "Montserrat", sans-serif;
    color: #82a70c;
    text-transform: uppercase;
}

.emp-payroll {
    color: #42515f;
}

/* UC 2 */
.main-content {
    min-height: calc(100vh - 80px);
    background-color: #f7f7f7;
    padding: 30px 0 10px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 25px;
}

.emp-detail-text {
    font: normal normal bold 24px/25px "Roboto", sans-serif;
    color: #42515f;
}

.emp-count {
    background-color: #82a70c;
    color: #ffffff;
    border-radius: 42%;
    font-size: 16px;
    width: 26px;
    text-align: center;
    display: inline-block;
    margin-left: 8px;
}

.add-button {
    font: normal normal normal 22px/29px "Roboto", sans-serif;
    color: #ffffff;
    background-color: #82a70c;
    border: none;
    border-radius: 5px;
    padding: 8px 20px;
    outline: none;
    cursor: pointer;
    text-decoration: none;
}

.plus-icon {
    font-size: 28px;
    margin-right: 8px;
}
